.model {
    opacity: 0;
    position: fixed;
    top: 0pt;
    left: 0pt;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.model1 {
    background-color: rgb(231, 231, 231);
    width: 600px;
    max-width: 100%;
    padding: 5px 27px;
    align-items: center;
    align-self: center;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    height: 570px;
}

#i1 {
    width: 530px;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    pointer-events: none;
    border-radius: 15px;
}

.model.show {
    opacity: 1;
    pointer-events: all;
    animation-name: animatetop;
    animation-duration: 0.5s;
}

.image {
    position: relative;
    animation: slideimage 3s infinite alternate;
    animation-delay: 0s;
}

#close {
    margin: 15px 77px 27px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    width: 50px;
    height: 35px;
    font-size: 35px;
    border: 0;
    border-radius: 10px;
    margin: 10px -7px 116px 293px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

@keyframes slideimage {
    0% {
        left: 800px;
    }
    15% {
        left: 0;
    }
    85% {
        left: 0;
    }
    100% {
        left: -700px;
    }
}