.neon-box {
    width: 550px;
    height: 116px;
    display: flex;
    background: rgba(5, 5, 7, 0.39);
    background-image: url(brick-bg.jpg);
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    border-radius: 15px;
}

.n1 {
    width: 165px;
    height: 130px;
    color: white;
    font-size: large;
    background: rgba(19, 13, 51, 0.055);
    margin: 5px 5px;
    padding: 7px;
    height: 59px;
    border-radius: 25px;
}

.n1:hover {
    animation: neon-b 3s infinite alternate;
    color: rgb(232, 255, 28);
    text-shadow: 4px 0px 10px #3be752, -4px 0px 10px #edf767, 0px -7px 10px #fad3269d, 0px 4px 10px #26fa42b4;
    cursor: pointer;
    border: 3px #5900e7;
}

.n2 {
    width: 150px;
    height: 130px;
    color: white;
    font-size: large;
    background: rgba(13, 11, 24, 0.089);
    margin: 5px 5px;
    padding: 6px;
    height: 59px;
    border-radius: 75%;
    display: flex;
    justify-items: center;
}

.n2:hover {
    animation: neon-b 3s infinite alternate;
    color: rgb(0, 204, 255);
    text-shadow: 7px 1px 10px #1087be93, -5px 0px 10px #0decc7ad, 0 -6px 10px #9326fa8a, 0 8px 10px #189c869f;
    cursor: pointer;
}

.n3 {
    width: 130;
    color: white;
    font-size: 30px;
    background: rgba(18, 12, 48, 0.068);
    margin: 5px 5px;
    padding: 8px;
    height: 59px;
    border-radius: 25px;
}

.n3:hover {
    animation: neon-b 3s infinite alternate;
    color: rgba(98, 100, 240, 0.973);
    text-shadow: 7px 1px 10px #030ea391, -5px 0px 10px #7107ad9a, 0 -6px 10px #0b949e98, 0 8px 10px #0ba8e671;
    cursor: pointer;
}

.t1 {
    margin: 0px 16px 0px;
}

.t2 {
    margin: 0px 25px 0px;
}

.t3 {
    margin: 0px 16px 0px;
}

@keyframes neon-b {
    0% {
        border: 3px solid #1086e8;
        opacity: 1;
        box-shadow: 0px 0px 14px 1px #5900e775, inset 0px 0px 15px 1px #0400ff7a, 0 0px 15px 1px #0400ff86;
    }
    10% {
        border: 3px solid #1086e8;
        opacity: 1;
        box-shadow: 8px 0px 15px 1px #5900e76e, inset -12px 0px 15px 2px #0400ff6b, -2px 0px 15px 1px #0400ff6b;
    }
    20% {
        border: 3px solid #33a3ffef;
        opacity: 1;
        box-shadow: 0px 0px 15px 1px #5900e75e, inset 0px 0px 15px 2px #0400ff62, 0 0px 15px 1px #0400ff65;
    }
    25% {
        border: 3px solid #10bde8d5;
        opacity: 0;
        box-shadow: 0px 0px 13px 1px #00c7ce65, inset 0px 0px 14px 2px #056d6850, 0 1px 14px 1px #029e9e73;
    }
    30% {
        border: 3px solid #10bde8d5;
        opacity: 1;
        box-shadow: 0px 0px 14px 1px #00c7ce65, inset 0px 0px 15px 2px #056d6850, 0 0px 14px 1px #029e9e73;
    }
    40% {
        border: 3px solid #10cfe8;
        opacity: 0.5;
        box-shadow: 0px 0px 15px 1px #07979c6b, inset 0px 0px 15px 2px #05bbb294, 0 0px 15px 1px #0492926c;
    }
    50% {
        border: 3px solid #10cfe8;
        opacity: 1;
        box-shadow: 0px 0px 15px 1px #03c7ce7e, inset 0px 0px 15px 2px #05ddd294, 0 0px 15px 1px #07dbdb8a;
    }
    60% {
        border: 3px solid #07cce6d5;
        opacity: 0.6;
        box-shadow: 0px 0px 15px 1px #03c7ce7e, inset 0px 0px 15px 3px #05ddd283, 0 0px 14px 3px #07dbdb8a;
    }
    65% {
        border: 3px solid #bd10e8c7;
        opacity: 0.1;
        box-shadow: 0px 0px 13px 2px #ae00e323, inset 0px 0px 12px 2px #f503c131, 0 0px 14px 2px #a200ff2c;
    }
    70% {
        border: 3px solid #bd10e8e8;
        opacity: 1;
        box-shadow: 0px 0px 12px 1px #ae00e323, inset 0px 0px 14px 2px #f503c131, 0 0px 14px 1px #a200ff2c;
    }
    80% {
        border: 3px solid #d610e8b9;
        opacity: 1;
        box-shadow: 0px 0px 5px 2px #ff00f252, inset 0px 0px 14px 3px #ff06c96e, 0px 0px 5px 2px #ff00f266;
    }
    85% {
        border: 3px solid #10e86ae8;
        opacity: 0.1;
        box-shadow: 5px 0px 9px 3px #40e00136, inset 0px 0px 10px 3px #2ec40038, -2px 0px 12px 3px #73ff003f;
    }
    90% {
        border: 3px solid #10e86ae3;
        opacity: 0.7;
        box-shadow: 5px 0px 12px 3px #40e00136, inset 0px -1px 12px 3px #2ec40038, 1px 0px 30px 3px #73ff003f;
    }
    100% {
        border: 3px solid #10e851;
        opacity: 1;
        box-shadow: 0px 0px 12px 3px #00e33965, inset 0px 0px 12px 3px #03f5b957, 0 0px 12px 1px #1eff005e;
    }
}

.neon-container {
    opacity: 0;
    position: fixed;
    top: 0pt;
    left: 0pt;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.neon-container.showfun {
    opacity: 1;
    pointer-events: all;
    animation-name: animatezoom;
    animation-duration: 0.9s;
}

#cl:hover {
    animation: neon-close 3s infinite alternate;
    color: red;
}

@keyframes neon-close {
    0% {
        box-shadow: 8px 0px 10px #e70000, -12px 0px 10px #ff0000, 0 12px 10px #ff0000;
    }
    30% {
        box-shadow: 5px -1px 10px #ce6e00, -6px 0px 10px #f39303fd, 0 12px 10px #ff9900;
    }
    60% {
        box-shadow: 7px 1px 10px #e3df00, -5px 0px 10px #f5e503, 0 12px 10px #fbff00;
    }
    100% {
        box-shadow: 7px 0px 10px #e0018a, -7px 0px 10px #c4006c, 0 12px 10px #ff0022;
    }
}

.f-audio {
    opacity: 0;
    pointer-events: none;
}